
.login_h1{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-left: 153px;
    margin-top: 18px;
    color: #232525;
}
.login_h1_dark{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-left: 153px;
    margin-top: 18px;
    color:lightgray
}
.login_wrap{
    border: 3px solid transparent;
    border-radius: 3rem;
    border-color: rgb(204, 103, 204);
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 30px;
}
.login_wrap_dark{
    border: 3px solid transparent;
    border-radius: 3rem;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 30px;
    
    box-shadow:    0px 0px 18px 0px rgb(204, 103, 204);
}

.bodt_dark{
    
    background-color: #1e2625;
    padding-top: 4%;
    padding-bottom: 22.9vh;
}
.bodt{
    padding-top: 4%;
    padding-bottom: 3.8%;

}
.login_h2{
    margin-left: 210px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    
    color: #232525;
    
}
.login_h2_dark{
    margin-left: 210px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: lightgray;
}

.s_letter{
    color: #e9640c;
    text-shadow: 5px -1px 2px rgb(205, 209, 214);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-left: 131px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
}

.s_letter_dark{
    color: #e9640c;
    text-shadow: 3px -1px 3px wheat; 
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-left: 131px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
}

.todo_letters_dark{
    color:  #a96fec;
    text-shadow: 3px -1px 3px wheat; 
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: -60px;
    margin-left: 165px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.todo_letters{
    color:  #a96fec;
    text-shadow: 5px -1px 2px rgb(205, 209, 214);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: -60px;
    margin-left: 165px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}
.input_label {
	color: #2b2e30;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
    margin-left: 80px;
    margin-top: -20px;
    
    font-family: 'Roboto', sans-serif;
}


.input_label_dark {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
    margin-left: 80px;
    margin-top: -19px;
    font-family: 'Roboto', sans-serif;
    
}

.input_field_dark{
    color: white;
    border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid rgb(161, 154, 154); 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
    width: 300px;
    margin-left: 71px;
    font-family: 'Verdana', sans-serif;
	&:focus{
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input_label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}



.input_field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid rgb(161, 154, 154); 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
    width: 300px;
    margin-left: 71px;
    font-family: 'Verdana', sans-serif;
	&:focus{
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input_label {
			color: #6658d3;
			transform: translateY(-1.5rem);
		}
	}
}

.action {
	margin-top: 1rem;
    margin-bottom: 20px;
}

.action1 {
	margin-bottom: 30px;
}


.action_button {
	font: inherit;
	font-size: 1rem;
	padding-left: 50px;
    padding-right: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
	width: 150px;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    margin-left: 145px;
    font-family: "Verdana", sans-serif;
    cursor: pointer;
	&:focus {
		outline: 0;
        
	}
}

.action_button1 {
	font: inherit;
	font-size: 1rem;
	padding-left: 48px;
    padding-right: 48px;
    padding-top: 9px;
    padding-bottom: 9px;
	width: 150px;
	font-weight: 500;
	background-color: #6658d3;
	border-radius: 6px;
	color: #FFF;
	border: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    margin-left: 145px;
    font-family: 'Roboto', sans-serif;
	&:focus {
		outline: 0;
	}
}

